h1{ 
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #2C6F2F;
 }
h2{
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
}
.botton {
  position: absolute;
  left: 13.79%;
  right: 66.04%;
  top: 10.49%;
  bottom: 88.07%;
  background: #B7D271;
  border-radius: 15px;
}
.navbar{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
ul.hr {
  margin: 0;
  padding: 4px;
}
ul.hr li {
  display: inline;
  margin-right: 5px;
  padding: 3px;






  
