h1{ 
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #2C6F2F;
max-width: 645px;
 }
h2{
  font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
color: #000000;
max-width: 600px;
}
.button {
color: #fff;
  background: #B7D271;
  border-radius: 15px;
width: 350px;
border: 0;
padding: 15px 0 15px 0;
font-family: 'Proxima Nova';
font-style: normal;
font-size: 36px;
margin-top: 20px;
}
.navbar{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.navbar ul {
  list-style-type: none;

}
.navbar ul a {
 color: #000;
text-decoration: none;
padding: 5px;  
text-transform: uppercase;
	}
.navbar ul li{
	display: inline-block;

}
.navbar  a:hover{
	text-decoration: none;
	color: #000;


}
.navbarbear  {
margin: 0 auto;
margin-top: 10px;
max-width: 1100px;
display: flex;
gap: 125px;
}
.left1{
background: no-repeat url("images/beer.png") bottom 20px right 20px;
max-width: 1300px;
margin: 0 auto;
padding-top: 250px;
padding-bottom: 300px;
position: relative;
}
.src {
position: absolute;
left: 0;
bottom: 0;	
}
